<!DOCTYPE html>
<html lang="pt-br">
    <head>
         <meta charset="UTF-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="stylesheet" type="text/css" href="style.css">
         <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no">
         <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        
         <title>Cadastro de Clientes</title>
    </head>

    <body>
        <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-tasks"></i></span>
                            <span class="title"><h2>Gestão Online</h2></span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-home"></i></span>
                            <span class="title">Painel</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-dolly-flatbed"></i></i></span>
                            <span class="title">Produtos</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-users"></i></span>
                            <span class="title">Clientes</span> 
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-shopping-cart"></i></span>
                            <span class="title">Vendas</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-question-circle"></i></span>
                            <span class="title">Ajuda</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="icon"><i class="fas fa-cog"></i></span>
                            <span class="title">Configurações</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" onclick="abaLogin()">
                            <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                            <span class="title">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="main">
                <div class="topbar">
                    <div class="toggle" onclick="toggleMenu();"></div>
                    <div class="search">
                        <label>
                            <input type="text" placeholder="Pesquise aqui">
                            <i class="fas fa-search"></i>
                        </label>
                    </div>
    
                    <div class="user">
                        <img src="imagens/user.png">
                    </div>
                </div>

                <div class="details">
                    <div class="recentOrders">
                        <div class="cardHeader">
                            <h2>Cadastro de Clientes</h2>
                            
                            <button href="#" class="btn" id="open" onclick="abaClientes()">
                                <span><i class="far fa-user"></i></span>
                                Lista de Clientes
                            </button>    
                        </div>
 
                        <div class="content">
                            <form action="cadastroCliente" method = "POST">
                                <div class="user-details">
                                    <div class="input-box">
                                        <span class="titledetails">Nome</span>
                                        <input type="text" placeholder="Digite o nome" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Data de nascimento</span>
                                        <input type="date" placeholder="dia/mês/ano" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Email</span>
                                        <input type="text" placeholder="Digite o email" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">IE/RG</span>
                                        <input type="text" placeholder="Digite o IE/RG" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">CPF/CNPJ</span>
                                        <input type="text" placeholder="Digite o CPF/CNPJ" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Telefone</span>
                                        <input type="tel" placeholder="(DDD) tel" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Endereço</span>
                                        <input type="text" placeholder="Digite o endereço" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Bairro</span>
                                        <input type="text" placeholder="Digite o bairro " required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Cidade</span>
                                        <input type="text" placeholder="Digite a cidade" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">Estado</span>
                                        <input type="text" placeholder="Digite o estado" required>
                                    </div>
                            
                                    <div class="input-box">
                                        <span class="titledetails">CEP</span>
                                        <input type="number" placeholder="Digite o CEP" required>
                                    </div>
                                            
                                    <div class="input-box">
                                        <span class="titledetails">Observações</span>
                                        <textarea  id="" cols="30" rows="10"></textarea>
                                    </div>
                            
                                </div>

                                <div class="alinhar-botoes">
                                    <button class="btn">
                                        Salvar
                                    </button>
                    
                                    <button class="btn">
                                        Alterar
                                    </button>
                    
                                    <button class="btn">
                                        Cancelar
                                    </button>
                                </div>
                                
                            </form>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>

     	<script src="clientes.js"></script> 
    </body>
</html>
