<!DOCTYPE html>
<html lang="pt-br">
    <head>
         <meta charset="UTF-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="stylesheet" type="text/css" href="login.css">
         <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no">
         <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        
         <title>Login</title>
    </head>

    <body>
        <img class="wave" src="imagens/bg4.png">
        <div class="container">
            <div class="img">
                <!-- <img src="imagens/bg3.png"> -->
            </div>
            <div class="login-content">
               <form action="login" method="POST">
                    <img src="imagens/logo.jpeg">
                    <h3>Bem Vindo(a)!</h3>
                    <div class="input-div one">
                        <div class="i">
                            <i class="fas fa-user"></i>
                        </div>
                        <div class="div">
                           
                        <label>Login</label>
                <input type="text" class="input" name="login"/>
                        </div>
                    </div>
                    <div class="input-div pass">
                        <div class="i"> 
                            <i class="fas fa-lock"></i>
                        </div>
                        <div class="div">
                            <label>Senha</label>
                    <input type="password" class="input" name="password"/>
                        </div>
                    </div>
                    <a href="#">Esqueceu a Senha?</a>
                    
                    <input type="submit" class="btn" value="Login">
                
                    <a href="#"><i class="fas fa-plus-circle"></i>Novo cadastro</a>
                </form>
            </div>
        </div>

     	<script src="login.js"></script> 
    </body>
</html>

