<form action="login" method="POST">
    <label>Login</label>
                <input type="text" name="login"/>
                <br>
                <br>
                <label>Senha</label>
                    <input type="password"  name="password"/>
                    <br>
                    <br>
                    <button class="btn btn-success" type="submit">Entrar</button>


</form>
