<!DOCTYPE html>
<html lang="pt-br">
    <head>
         <meta charset="UTF-8"/>
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <link rel="stylesheet" type="text/css" href="/css/login.css">
         
         <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no">
         <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        
         <title>Login</title>
    </head>

    <body>
        <img class="wave" src="imagens/bg4.png">
        <div class="container2">
            <div class="img">
                
            </div>
            <div class="login-content">
                <form class="loginform">
                    <img src="imagens/logo.jpeg">
                    <h3>Bem Vindo(a)!</h3>
                    
                    {{{body}}}
                </form>
                
            </div>
        </div>

       

     	
         <script src="/js/login.js"></script> 
    </body>
</html>







