<form action="login" method="POST">
    <div class="input-div one">
        <div class="i">
            {{!-- <i class="fas fa-user"></i> --}}
        </div>

        <div class="div"> 
            <h5><label>Login</label></h5>
            <input type="text" class="input" name="login"/>
        </div>
    </div>

    <div class="input-div pass">
        <div class="i"> 
            {{!-- <i class="fas fa-lock"></i> --}}
        </div>

        <div class="div">
            <h5><label>Senha</label></h5>
            <input type="password" class="input" name="password"/>
        </div>
    </div>
    <a class="link" href="#">Esqueceu a Senha?</a>
                    
    <input type="submit" class="btn2" value="Login">
                
    <a class="link" href="#"><i class="fas fa-plus-circle"></i>Novo cadastro</a>
</form>
            

