<div class="cardHeader">
    <h2>Lista de Clientes</h2>
                            
    <button href="#" class="btn" id="open" onclick="abaCadastroClientes()">
        <span><i class="far fa-user"></i></span>
        Incluir Cliente
    </button>
</div>

<table class="list" id="clientList">
    <form action="lista" method="POST">
        <thead>
            <tr>
                <td>Nº</td>
                <td>Nome</td>
                <td>Tipo</td>
                <td>Ativo</td>
                <td>Telefone</td>
                <td>Email</td>
                <td>Cadastro em</td>
                <td>Ações</td>
                <td><i class="fas fa-print"></i></td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>1</td>
                <td>Ana Caroline</td>
                <td>Pessoa física</td>
                <td><i class="fas fa-check"></i></td>
                <td>(00) 0 0000-0000</td>
                <td>xxx.xxx@provedor.com</td>
                <td>03/06/2021</td>
                <td><i class="far fa-folder"></i></td>
                <td>
                    <i class="fas fa-edit icone-editar"></i>
                    <i class="fas fa-trash icone-remover"></i>
                </td>
            </tr>

            <tr>
                <td>2</td>
                <td>Carlos Oliveira</td>
                <td>Pessoa física</td>
                <td><i class="fas fa-check"></i></td>
                <td>(00) 0 0000-0000</td>
                <td>xxx.xxx@provedor.com</td>
                <td>04/06/2021</td>
                <td><i class="far fa-folder"></i></td>
                <td>
                    <i class="fas fa-edit icone-editar"></i>
                    <i class="fas fa-trash icone-remover"></i>
                </td>
            </tr>

        </tbody>
    </form>
</table>



